@model IEnumerable<PizzaDeliveryManagement.Models.Salary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container pTop">
        <div class="row mb-2">
            <div class="col-6">
                <h2 class="text-success">Salary of your employees</h2>
            </div>

            <div class="col-6 text-right">
                <partial name="_CreateButtonPartial" />
            </div>
        </div>


        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead class="text-head">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalaryPerHour)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-column">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalaryPerHour)
                        </td>

                        <td>
                            <partial name="_TableButton" model="item.Id" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Records.....</p>
        }


    </div>

        



        
